*{
    margin: 0;
    padding: 0;
}
.add-to-cart{
    overflow-x: hidden;
}
input{
    border: none;
    border-radius: 4px;
}
input:focus{
    outline: none !important;
}
button{
    border: none;
    padding: 1px 7px;
    border-radius: 4px;
    margin: 0 4px;
}
button i{
    font-size: 20px;
}
button:focus{
    outline: none !important;
}
img{max-width: 100%;}
img{
    width: 150px;
    border-radius: 10px;
}
.product{
    background: linear-gradient(#fc5c65, #a55eea) ;
    border-radius: 10px;
    padding: 20px;
margin: 10px 0;
}

.t-shirt{
    background: linear-gradient(#9c88ff,#40739e );
    border-radius: 10px;
    padding: 20px;
    color: white;
    position: relative;
}
#blackClose , #whiteClose{
position: absolute;
right: 10px;
top: 6px;
}
#blackClose i , #whiteClose{
    font-size: 25px;
    color: rgb(255, 170, 0);
}

#black-number , #white-number{
    width: 35px;
    height: 32px;
    text-align: center;
}


.pr{
    background: white;
    color: grey;
    padding: 3px 20px;
    border-radius: 5px;
    display: inline-block;
}

#canceld i{
color: red;

}
.product-total-detiels{
    padding: 20px;
    background-image: linear-gradient(#f5f6fa , #dfe4ea);
    margin-top: 18px;
    border-radius: 6px;
    overflow-x: hidden;
}

#chackOut{
    background-image: linear-gradient( to right,#129955, #20bf6b);
    padding: 8px 25px;
    color: white;
    font-weight: 500;
    margin: 20px 0 !important;
}
.bg-success{
    background-image: linear-gradient( to right,#129955, #20bf6b);
    padding: 4px 16px;
    color: white;
   position: relative;
   top: 20px;
   right: 40px;
   border-radius: 4px;
   text-decoration: none;
}
.fun{
    overflow-x: hidden;
    position: relative;
}
.textss{
    position: absolute;
    top: 300px;
    left: 560px;
    color: #1e7bc7;
}
.textss h5{
    font-size: 50px;
}
#fun{
    display: none ;
}
@media (max-width:764px){
    img{
        width: 120px;
    }
    .textss{
        position: absolute;
        top: 110px;
        left: 180px;
        color: #1e7bc7;
    }
  .textss h5{
    font-size: 22px;
  }
    .product-name h4{
font-size: 18px;
    }
    .t-shirt{
        padding: 10px;  
    }
    .product{
        padding: 10px;
    }
    .incriment-section{
       display: flex;
       align-items: center;
       justify-content: end !important;
       margin-top: 20px;
    }
    .price{
        margin-left: 20px;
    }
    .product-total-detiels{
        padding: 10px;
    }

}